.form__profile--personal__data {
  background-color: #fdfdfd;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #d9d9d9;
  display: grid;
  height: fit-content;
  gap: 10px;
  margin: 15px 0;
  padding: 20px;
  position: relative;
  width: auto;
}

.form__profile--personal__data label {
  align-content: center;
  display: grid;
  font-size: 1rem;
  position: relative;
}

.form__profile--personal__data input {
  font-size: 1rem;
  height: 42px;
  min-width: 20px;
  position: relative;
  width: auto;
}

.form__profile--personal__data input[name="nome_completo"] {
  font-size: 1rem;
  position: relative;
  width: auto;
  min-width: 200px;
}

.form__profile--personal__data select {
  font-size: 1rem;
  height: auto;
  position: relative;
}

.form__personal__data select option {
  font-size: 1rem;
  position: relative;
}

.grid__02 {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: auto 1fr;
  gap: 10px;
  position: relative;
  width: auto;
}

.grid__04 {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, auto 1fr);
  gap: 10px;
  position: relative;
  width: auto;
}

.grid__06 {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, auto auto);
  gap: 10px;
  position: relative;
  width: auto;
}

.desc__params {
  color: #797979;
  display: grid;
  font-size: 1.2rem;
  position: relative;
}