.bg--roxo_escuro {
  background-color: #292035;
}

.bg--roxo_medio {
  background-color: #3b2162;
}

.bg--roxo_claro {
  background-color: #a37fa5;
}

.bg--rosa {
  background-color: #ff0e5b;
}

.bg--cinza {
  background-color: #e4e3e9;
}

.bg--azul_claro {
  background-color: #92bfde;
}

.bg--branco {
  background-color: #fff5ff;
}

.cl--roxo_escuro {
  color: #292035;
}

.cl--roxo_medio {
  color: #3b2162;
}

.cl--roxo_claro {
  color: #a37fa5;
}

.cl--rosa {
  color: #ff0e5b;
}

.cl--cinza {
  color: #e4e3e9;
}

.cl--azul_claro {
  color: #92bfde;
}

.cl--branco {
  color: #fff5ff;
}