/* main grid */
.flux {
  display: grid;
}

.flux_one {
  grid-template-columns: fit-content(auto);
  grid-template-rows: auto;
}

.flux_two {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.flux_tree {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.flux_four {
  grid-template-columns: repeat(2, 1fr 1fr);
  grid-template-rows: auto;
}

.flux_five {
  grid-template-columns: repeat(2, 1fr 1fr) 1fr;
  grid-template-rows: auto;
}

.flux_six {
  grid-template-columns: repeat(2, 1fr 1fr 1fr);
  grid-template-rows: auto;
}

.flux_row {
  grid-auto-flow: row;
}

.flux_column {
  grid-auto-flow: column;
}

.flux_dense {
  grid-auto-flow: dense;
}
