/*== paddings ==*/
/* paddings horizontais */
.pd-h5 { padding: 5px 0; }
.pd-h10 { padding: 10px 0; }
.pd-h15 { padding: 15px 0; }
.pd-h20 { padding: 20px 0; }
.pd-h25 { padding: 25px 0; }
.pd-h30 { padding: 30px 0; }

/* paddingsverticais */
.pd-v5 { padding: 0 5px; }
.pd-v10 { padding: 0 10px; }
.pd-v15 { padding: 0 15px; }
.pd-v20 { padding: 0 20px; }
.pd-v25 { padding: 0 25px; }
.pd-v30 { padding: 0 30px; }


/*== margins ==*/
/* margins horizontais */
.mg-h5 { margin: 5px 0; }
.mg-h10 { margin: 10px 0; }
.mg-h15 { margin: 15px 0; }
.mg-h20 { margin: 20px 0; }
.mg-h25 { margin: 25px 0; }
.mg-h30 { margin: 30px 0; }

/* margins verticais */
.mg-v5 { margin: 0 5px; }
.mg-v10 { margin: 0 10px; }
.mg-v15 { margin: 0 15px; }
.mg-v20 { margin: 0 20px; }
.mg-v25 { margin: 0 25px; }
.mg-v30 { margin: 0 30px; }