.pd-n5 { padding: 5px; }
.pd-n10 { padding: 10px; }
.pd-n15 { padding: 15px; }
.pd-n20 { padding: 20px; }
.pd-n25 { padding: 25px; }
.pd-n30 { padding: 30px; }

.pd-v5 { padding: 5px 0; }
.pd-v10 { padding: 10px 0; }
.pd-v15 { padding: 15px 0; }
.pd-v20 { padding: 20px 0; }
.pd-v25 { padding: 25px 0; }
.pd-v30 { padding: 30px 0; }

.pd-h5 { padding: 0 5px; }
.pd-h10 { padding: 0 10px; }
.pd-h15 { padding: 0 15px; }
.pd-h20 { padding: 0 20px; }
.pd-h25 { padding: 0 25px; }
.pd-h30 { padding: 0 30px; }

.mg-n5 { margin: 5px; }
.mg-n10 { margin: 10px; }
.mg-n15 { margin: 15px; }
.mg-n20 { margin: 20px; }
.mg-n25 { margin: 25px; }
.mg-n30 { margin: 30px; }

.mg-v5 { margin: 5px 0; }
.mg-v10 { margin: 10px 0; }
.mg-v15 { margin: 15px 0; }
.mg-v20 { margin: 20px 0; }
.mg-v25 { margin: 25px 0; }
.mg-v30 { margin: 30px 0; }

.mg-h5 { margin: 0 5px; }
.mg-h10 { margin: 0 10px; }
.mg-h15 { margin: 0 15px; }
.mg-h20 { margin: 0 20px; }
.mg-h25 { margin: 0 25px; }
.mg-h30 { margin: 0 30px; }